@{
    ViewData["Title"] = "Stopwatch";
}

<h2>Bang On !</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body class="body">
    <section>
        <div class="text-center">
            <h1 class="display-4">Stopwatch</h1>
        </div>
        <div class="text-center">
            <button id="start-button">Start</button>
            <button id="stop-button">Stop</button>
        </div>
        <div class="text-center">
            <span id="display-span"></span>
        </div>
        <div class="text-center">
            <span id="display-final"></span>
        </div>
    </section>
    <script>
        var message;
        var seconds = 0;

        var startButton = document.getElementById('start-button');
        var stopButton = document.getElementById('stop-button');
        var valueContent = document.getElementById('display-span');
        var finalMessage = document.getElementById('display-final');

        stopButton.style.display = 'none';

        startButton.addEventListener('click', function () {
            startButton.style.display = 'none';
            stopButton.style.display = 'inline';
            stopButton.classList.add("text-center");
            setInterval(setTime, 1000);
            console.log(seconds);
            message = "Message from JS by ajax";

        });

        function setTime() {
            ++seconds;
            valueContent.innerText = "You have been here for " + seconds + " seconds.";
        }
        
        var displayErrorMessage = function (data) {
            document.getElementById('display-error').innerHTML = data;
        };

        $(document).ready(function () {
            $('#stop-button').click(function () {
                stopButton.style.display = 'none';
                startButton.style.display = 'inline';
                var totalSeconds = seconds;
                finalMessage.innerHTML = "You wasted your " + seconds + " seconds.";
                seconds = 0;
                console.log(totalSeconds);
                valueContent.style.display = 'none';
                $.ajax({
                    type: 'POST',
                    url: 'StopWatch/SendToASB?inputData=' + totalSeconds,
                    data: { inputData: "Message from JS by ajax" },
                    contentType: 'application/json',
                    success: function(data) {
                        valueContent.innerHTML = message;
                    },
                    error: function(errorMessage) {
                        displayErrorMessage(errorMessage.statusText);
                    }
                 });
            });
        });
    </script>
</body>
</html>
